/* Darker hover */
ul li:hover {
    background: #ddd;
}

body div.header > h2 {
    color: white;
}

.header {
    background-color: #20b5cc;
    padding: 30px 40px;
    text-align: center;
}



/* Clear floats after header */
.header:after {
    content: "";
    display: table;
    clear: both;
}


input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}


.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#uncheckAll {
    padding: 10px;
    background: #4286f4;
    color: #555;
    float: left;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    width: 15%;
}

#checkAll {
    padding: 10px;
    background: #60c153;
    color: #555;
    float: left;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    width: 15%;

}

#deleteAll {
    padding: 10px;
    background: #c15353;
    color: #555;
    float: left;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    width: 15%;

}

.addBtn:hover {
    background-color: #bbb;
}


.larger {
  position: relative;
  height: 18px;

}

td > div.checkbox {
    text-align: center;
}

th {
  font-size: 14pt;
}

td {
  font-size: 12pt;

}

#myInput {
  font-size: 12pt;

}

.table>tbody>tr>td {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

